<a href="https://colab.research.google.com/github/Prasanna7172/News_Classification_Project/blob/main/News_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd

In [ ]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [ ]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [ ]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [ ]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [ ]:
display(fake.subject.value_counts())
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
data = pd.concat([fake,genuine],axis=0)
data = data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text']= data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer(language='english')

In [ ]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [ ]:
def stop_it(t):
 dt=[word for word in t if len(word)>2]
 return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(Y_train.head())

4679     septemb was arguabl the worst day american his...
41325    cairo reuter egyptian activist who under crimi...
37535    dubai reuter saudi arabia aim start issu touri...
24722    washington/san francisco reuter eighteen u.s. ...
29938    washington reuter president-elect donald trump...
Name: text, dtype: object

4679     0
41325    1
37535    1
24722    1
29938    1
Name: target, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)
tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

  (0, 34831)	0.03459333243697873
  (0, 64311)	0.06500248682945764
  (0, 77107)	0.06215129845725653
  (0, 86824)	0.02376331045109172
  (0, 41067)	0.050566565189087045
  (0, 31452)	0.026582068512143783
  (0, 35398)	0.0961622168085365
  (0, 17907)	0.029774858298339212
  (0, 2037)	0.07280197787751981
  (0, 59671)	0.09957580263650029
  (0, 44481)	0.057770769614000274
  (0, 44523)	0.056767956592464974
  (0, 87478)	0.10887177631928993
  (0, 21246)	0.031901963632094556
  (0, 84057)	0.028544757699630864
  (0, 63830)	0.035897855601250216
  (0, 31572)	0.049825737905753405
  (0, 90010)	0.08551153738827323
  (0, 8273)	0.017951516458319796
  (0, 11759)	0.05929630633963925
  (0, 31588)	0.0461636331978418
  (0, 38644)	0.10887177631928993
  (0, 39923)	0.023473410976602768
  (0, 81294)	0.022472088031196186
  (0, 74966)	0.024831319423596832
  :	:
  (33672, 35214)	0.0345046456214414
  (33672, 60347)	0.025036810979055642
  (33672, 83759)	0.08468596814476241
  (33672, 84863)	0.02578749420813593
  (33672, 31572)	0.04998113949674186
  (33672, 8273)	0.018007505477961715
  (33672, 14198)	0.036009817492995005
  (33672, 89833)	0.017050008494216926
  (33672, 59333)	0.014106287377616702
  (33672, 7438)	0.050868096219706414
  (33672, 22601)	0.04523958385398536
  (33672, 81551)	0.02942445872901851
  (33672, 89143)	0.01735131728153629
  (33672, 635)	0.04844261217190206
  (33672, 58028)	0.04157680406418261
  (33672, 88964)	0.015266948354657368
  (33672, 16947)	0.04804796258575133
  (33672, 51209)	0.024536500066187107
  (33672, 60741)	0.018236431093017105
  (33672, 38023)	0.014088517397863373
  (33672, 91098)	0.02092651258015478
  (33672, 59470)	0.0224065906611414
  (33672, 16931)	0.06958493656473608
  (33672, 83402)	0.034745493558984916
  (33672, 26844)	0.019257425338820612

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, Y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(Y_test,pred_1)
print(cr1*100)

98.84187082405346

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(Y_test,y_pred)
print('The accuracy of the prediction is ',accscore*100)

The accuracy of the prediction is  99.53674832962139